@page
@model IndexModel
@{
    ViewData["Title"] = "Poker Calculator | Texas Holdem | John Belthoff";
}
<div class="container text-center p-5">
    <h1 class="display-4">Poker Calculator</h1>
    <p><a href="/about">About Poker Calculator</a> | <a href="https://github.com/JBelthoff/poker.johnbelthoff.com" target="_blank">See the code</a> | <a href="https://www.johnbelthoff.com">Studio JB</a></p>
</div>





<div class="container p-5">
    <hr style="margin: 24px auto 0 auto;" />
    <table>
        <tbody>
            <tr>
                <th>Deck Shuffled</th>
            </tr>
            <tr>
                <td valign="top">

                    @for (var i = 0; i < Model.ShuffledDeck.Count; i++)
                    {
                        @Html.Raw($"{i + 1}: <span style=\"color:#{Model.ShuffledDeck[i].Color};\">" +
                        $"{Model.ShuffledDeck[i].Face}{Model.ShuffledDeck[i].Suit}</span><br>")
                                        }
                </td>
            </tr>
        </tbody>
    </table>
</div>