@page
@model IndexModel
@{
    ViewData["Title"] = "Poker Calculator | Texas Holdem | John Belthoff";
}
<div class="container text-center p-5">
    <h1 class="display-4">Poker Calculator</h1>
    <p><a href="/about">About Poker Calculator</a> | <a href="https://github.com/JBelthoff/poker.johnbelthoff.com" target="_blank">See the code</a> | <a href="https://www.johnbelthoff.com">Studio JB</a></p>
</div>